

    <!--------content------------------------------------------------------------>
    <div class="sale-htwo-div">
        <h2 class="sale-htwo">Sale</h2>
    </div>
    <div class="content">

        <!--------main----------------------------------------------------------->
        <div class="main">

            <!--------small-watch------------------------------------------------------------>
            <div class="small-watch-div">
                <ul class="small-watch-ul">

                    <li class="small-watch-li">
                        <a href="index.html"><img src="./images/desktop-tablet-small-watch-one.png" width="52"
                                height="54" alt="desktop-tablet-small-watch-one" /></a>
                    </li>
                    <li class="small-watch-li">
                        <a href="index.html"><img src="./images/desktop-tablet-small-watch-two.png" width="52"
                                height="54" alt="desktop-tablet-small-watch-two" /></a>
                    </li>
                    <li class="small-watch-li">
                        <a href="index.html"><img src="./images/desktop-tablet-small-watch-three.png" width="52"
                                height="54" alt="desktop-tablet-small-watch-three" /></a>
                    </li>
                    <li class="small-watch-li">
                        <a href="index.html"><img src="./images/desktop-tablet-small-watch-four.png" width="52"
                                height="54" alt="desktop-tablet-small-watch-four" /></a>
                    </li>
                </ul>
            </div>
            <!--------/small-watch------------------------------------------------------------>


            <!--------big-watch----------------------------------------------------------->
            <div class="big-watch-div">
                <img src="./images/desktop-tablet-big-watch.png" width="235" height="285"
                    alt="desktop-tablet-big-watch" />
            </div>
            <!--------/big-watch----------------------------------------------------------->

        </div><!--------/main----------------------------------------------------------->




        <!--------info---------------------------------------------------------------------->
        <div class="info-div">


            <!--------info-block---------------------------------------------------------------------->
            <div class="info-block">


                <!--------info-top-div---------------------------------------------------------------------->
                <div class="info-top-div">
                    <h3 class="h-three">MARQ® Commander (Gen 2) - Carbon Edition</h3>

                    <p class="product-number-p">Product tag: 706587</p>
                </div><!--------/info-top-div---------------------------------------------------------------------->


                <!--------price-div---------------------------------------------------------------------->
                <div class="price-div">
                    <p class="price-p">€1500</p><span class="old-price-span">€3000</span>
                </div><!--------/price-div---------------------------------------------------------------------->


                <!--------text-p---------------------------------------------------------------------->
                <p class="text-p">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers
                    that takes
                    materials and features
                    to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has
                    a precise
                    AMOLED
                    touch screen. The sensitive touch screen is complemented by buttons that can be used in any
                    conditions.</p>
                <!--------/text-p---------------------------------------------------------------------->


                <!--------point-div---------------------------------------------------------------------->
                <div class="point-div">

                    <ul class="point-ul">
                        <li class="point-li"><a class="point-a" href="index.html">Fused carbon fiber</a></li>
                        <li class="point-li"><a class="point-a" href="index.html">Grade-5 Titanuim</a></li>
                        <li class="point-li"><a class="point-a" href="index.html">Athlete</a></li>
                        <li class="point-li"> <a class="point-a" href="index.html">Golfer</a></li>
                        <li class="point-li"> <a class="point-a" href="index.html">Commander</a></li>
                        <li class="point-li"><a class="point-a" href="index.html">Adventurer</a></li>
                    </ul>


                </div><!--------/point-div---------------------------------------------------------------------->
            </div><!--------/info-block---------------------------------------------------------------------->
        </div><!--------/info---------------------------------------------------------------------->
    </div><!--------/content---------------------------------------------------------------------->

