<div class="container">
    <section class="sale"><!----------------------------/section------------------------------------------------------->
        <h2 class="h-two">Sale</h2>
        <div class="small-foto">
            <ul class="small-foto-ul">
                <li class="small-foto-li">
                    <a href=""><img src="./images/small-watch-1.png" width="52" height="54" alt="small-watch-1" /></a>
                </li>
                <li class="small-foto-li">
                    <a href=""><img src="./images/small-watch-2.png" width="52" height="54" alt="small-watch-2" /></a>
                </li>
                <li class="small-foto-li">
                    <a href=""><img src="./images/small-watch-3.png" width="52" height="54" alt="small-watch-3" /></a>
                </li>
                <li class="small-foto-li">
                    <a href=""><img src="./images/small-watch-4.png" width="52" height="54" alt="small-watch-4" /></a>
                </li>
            </ul>
        </div>

        <div class="big-foto">
            <img class="big-foto-img" src="./images/big-watch.png" width="235" height="285" alt="big-watch" />
        </div>

        <div class="info">

            <h3 class="h-three">MARQ® Commander <p>(Gen 2) - Carbon Edition</p>
            </h3>

            <p class="product-number">Product tag: 706587</p>

            <div class="price">
                <p class="new-price">€1500</p><span class="old-price">€3000</span>
            </div>

            <p class="text">The Garmin MARQ Commander Gen 2 Carbon Edition is a modern smartwatch for adventurers that
                takes materials and features
                to the next level. The body of the watch is made of very durable Fused Carbon Fiber material and has a
                precise AMOLED
                touch screen. The sensitive touch screen is complemented by buttons that can be used in any conditions.
            </p>


            <li class="point">

            <li class="point-li"><a class="point-a" href="index.html">Fused carbon fiber</a></li>
            <li class="point-li"><a class="point-a" href="index.html">Grade-5 Titanuim</a></li>
            <li class="point-li"><a class="point-a" href="index.html">Athlete</a></li>
            <li class="point-li"> <a class="point-a" href="index.html">Golfer</a></li>
            <li class="point-li"> <a class="point-a" href="index.html">Commander</a></li>
            <li class="point-li"><a class="point-a" href="index.html">Adventurer</a></li>
            </ul>

        </div>
    </section> <!----------------------------/section------------------------------------------------------->
</div>