<section class="vite-promo">
  <div class="container">
    <div class="vite-promo-thumb">
      <a
        class="vite-promo-link"
        href="https://vitejs.dev/"
        target="_blank"
        rel="noopener noreferrer"
        aria-label="Link to Vite official website"
        title="Vite.js  build tool"
      >
        <!-- Path to images as from index.html file -->
        <img
          class="pic"
          src="img/vite-logo.png"
          alt="Vite logo"
          width="640"
          height="640"
        />
      </a>
    </div>
    <h1 class="main-title">
      <span class="main-title-gradient">Vite</span>
      Template by
      <a
        class="main-title-link"
        href="https://github.com/goitacademy/vanilla-app-template"
        target="_blank"
        rel="noopener noreferrer"
      >
        GoIT
      </a>
    </h1>
  </div>
</section>
